<footer id="contact" class="brs-footer pb-0">
  <div class="brs-footer--top">
    <div class="container-fluid">
      <div class="row justify-content-around">
        <div class="col-12 col-sm">
          <h4>What we do</h4>
          <ul class="brs-footer--links p-0 list-unstyled mx-0 my-5">
            <li>
              <a href="#AboutUs">About Us</a>
            </li>
            <li>
              <a href="#OurFeatures">Our Features</a>
            </li>
            <li>
              <a href="#OurWallet">Our Wallet</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-sm">
          <h4>Support</h4>
          <ul class="brs-footer--links p-0 list-unstyled mx-0 my-5">
            <li>
              <a href="#ContactUs">Contact Us</a>
            </li>
            <li>
              <a href="#FindUs">Find Us</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-sm">
          <h4>Contact Us</h4>
          <ul class="brs-footer--links p-0 list-unstyled mx-0 my-5">
            <li class="d-flex">
              <i class="icon-envelope"></i>
              <a href="mailto:contact_us@bitcoinlightning.co.uk">contact_us@bitcoinlightning.co.uk</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="brs-footer--bottom">
    <div class="container-fluid">
      <div class="row justify-contern-center">
        <div class="col-12 text-center">
          <p class="mt-0 mb-0">© 2018 Брусчатка03. Все права защищены.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
