<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= require('../package').description %></title>
</head>
<body>
<%= require('html-loader!./partials/header/header.html') %>

<div class="section about-us bg-about py-4">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-auto">
        <h1>О нас</h1>
      </div>
    </div>
  </div>
</div>

<%= require('html-loader!./partials/carousel/carousel.html') %>


<%= require('html-loader!./partials/footer/footer.html') %>

</body>

</html>
