body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Avenir Next', sans-serif;
  font-size: 14px;
}

.bg-black-80{
  background-color: rgba(0,0,0,0.6  );
}
