body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Avenir Next', sans-serif;
  font-size: 14px;
}

.bg-black-80{
  background-color: rgba(0,0,0,0.6  );
}

.section{
  padding: 30px 0;
  background-color: #4d5e6514;
}
.contact-wrapper{
  color: #4c5f66;
}

